#
# Copyright (c) Dell Inc., or its subsidiaries. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
language: java
install: true
jdk:
 - openjdk8

env:
  global:
    - GRADLE_OPTS="-Xms128m"

jobs:
  include:
# the secure configurations in env: is for BINTRAY_USER=<USER> and BINTRAY_KEY=<KEY> properties
# which will be used for publishing artifacts to snapshot repository
    - stage: build
      if: type IN (push, pull_request)
      install: ./gradlew assemble
      script: ./gradlew check
      after_success:
           - bash <(curl -s https://codecov.io/bash) -t ccceafaf-7c60-4a02-9165-480174b535a2

    - stage: javadocs
      install: echo "Building javadocs"
      script: ./gradlew javadocs

    - stage: snapshot
      if: branch = master AND NOT (type = pull_request)
      env:
         - secure: "EJGO5B4XxT6NpZ4+St4EG/Y3+UmQ2XNkbnJz/5vv7HZziC4OXFVFCigOsjqqRVjJaWmDmYf1a/U7QwJa+esgA9oBchg+DVWYeqkMOEbZkEJzBgHeA5Bmgp+3Q5/2ouOe6M2cUFhSNXN+lZaLri8xYis25ndK6E0Y6MIQ7CbCNyhA/edIIHSttJNHoGkaVxkfEDWNvIvdUbxt7MTTdAGIvT+Xj/EF8clT349N5UfZ8DdYy8Q6i4TKiy5557dj6nfegbD6qD0mGxWt8dqKBSIqmPMoiCjGsy+3LyfeMNhZiNji+7LRmwJtWD87fewlYeU5xkKZIaxXlCnd9JPrkIFH62FzXctn0wc18mDTD+c4mnc2efKHHrmvRcrvQrRD447iFt17lEMCROriHVZsB4m6igxrEg0i2paCBajMqhQG5LEwSqU7D8CQaW+ffC2+9agFR0a6uhW7n9GahU2AOVf9RhvLU7yFWtVJltOP2mBY0s8Oowxzy5OXSfqjxwSJeKKGgWVaTbBY14Y1Y2pCx9CuInLswz4oIO3LqHHfKJasKwHp9nHRSa6flh8JFR8+jGA7vo1MqGAPH3N4rrMQqpYs9DjYD50TPAh2h4asQj5gSjtYkKpvEu58dRRRzansjtSpiwo6TNfaVp9jhzYI3O3vnssyDyJvHjHjCnrvCB/KYrU="
         - secure: "NdkraKeGWu2OLxxHEjxn09GdVaXeKxaSrpNuTMc38Bnq9O2msXgb2jiEBsq4Z23j8cxG6Y4JJ0ZAOQwhuB3Tfh6UwGxSf8CxAqplD9uy1VRrAT0gXneIjaAwlOITy5IQfP0bY0o+IwYSefLEKnR46YLxd4zHckgneq5SWD9bUZEByM7rcYZArpaHK/fBQ+0aM0SsYY0vHX/6ivA9f9oWIva2pnWgOXPABbgrN7Xah+a+XVAV3Qe2vBA0MAl0pA1S9PWWfZNbVAO+CSR6d4+Rdvn4tQsM5Si5p9hWjmBi22kkDMJtLAhKHUnutoHPVMH6ekQneakshhiVuhMzAJZoMI626P5GkiyN3OVkv+AlAGEUZdJnXlsx51veIAvQh1iZZhpJ5Cd5R8H7dQrgIFiios+fRLlD8VbCwv8NAL366khBkQjoW2RyF+Xl1Y1J7Yd9C7lsg/Ktm7PNIVNRsHjMu1msQHNNsn0VmVbH2IZo20u8giKhiUVcAznctj5kmleCBgszTlRj07pxMQggcLrK0d0y1gU9Gg/pOubcsHNzQ/pLWVjep1vuJ+wyW64BtgQuFvPK97eA95P5b3j3MpalhFUKPF+mVdqXNQjcJrYOwtRagq4CkPsg3fKr7+HMzUCHwo69eqJfgPCOR9NYLSMPzhKAl/YrdphH46wPuEiOopU="
      install: skip
      script: ./gradlew publish -PpublishUrl=jcenterSnapshot -PpublishUsername=$BINTRAY_USER -PpublishPassword=$BINTRAY_KEY

sudo: required

services:
  - docker

cache:
  directories:
   - ".gradle"
   - "$HOME/.gradle"
   - "$HOME/.m2"

notifications:
  slack:
    matrix:
      - secure: Gv0RJx1Sa/y5fmvLNwY+2ivfWZYCM0ekrr6UAHqsegnid6P/DFZrSrfSpwvcVh2OVNH8DHLV0BoiuDJ7amtl1eMDMXz5/lLz8tFWFKaHv4yDSadm8ILY/KnYUoP4IRuM3NyKQmBrmZB9Or5KFXboG6ex6UkgbuYy0Zyl6syEe168Iw8hlCRx26Jei7/y+8eE2MIGFh09TLRZ/944YbULum9H3KQLYv8nFdPc7GmR5AK461fnwZ7iYjb7MXkCctE5Vml3p9+2Qliv1ZJqNsQeKmSFW6IhiP6pNZ1V8VJEWMQmX/nBr9745l/N+CoLQz9ajLonlxn9xHdWms4TEu1ynFk6uxEJjlcpXcvcEaKhqAKcTMl0GMMRab2m+/Vt3S/VutJnVXQmnhZGT9glLFQHwcdHNqM/LEbXtyisB7zmGImUQpF2InCwO25IXug5gv64IfOHGMzL56yNIhbRgBY9Ud4Tux+pmkV5ZxJiBkul7/FiHQX7tQLUrzQosD0oyCOmaWD7kmbt15A0TOkLgup4HE+sSS1ASwisa7J2+HsbI3Upy3rNVKuIJP0L4KSTn4HSlDlMLLcWM+nz/YCEfuwSRXJTIstotNYHdsLUZAZSYAX7ejpeiuBRed4a4AlCROeKbKKwCcSvqCOjmCaPTpwJAGeJByOXLL2hfQzpDMKCIKM=
      - secure: hnpxdryHJEJk4S29yh0F2kRQEYN4uQp5Yk+mUTAm0sbdBLCP/v8l6982coWhqDOSR+FAtISoi23lgglbbHDZZTn/mjFx0tg5jrR1Gw17JnJkWEC7ffOnlbD498sTUZ+8nkYJooDsQVZbYN6ihjrPkbrEfaqLApLMqHqUkpdgx49E1huV7mgMM7BW7Y58OIp1rO/uTJOLWfrhh0ULa+X1EjVkUOUTpfwl/q7cuk0CtkpQZbmV2Dofg/6w+18jiDNZIdx1Mbf5hEy/nNzmrt8u1gcFvDxvtjLuzPckbkUGaq+jXXex83+mE72KT0BN6DKbzCoFEPIatJ7oDlZOLBwiChWEu4GBMKNmRH2M0lIwSs4pYni6K8nhFiMOjQlckmghnVB+izcpyZut8Bp91SureEL+lGWsv9zRn+CymaOM5ndiS0/MiFPXGUYak+6t4kYqADDqWMQC5auEn0VVDAsiy5Vzy+TCEpjwxtDfK3NuNEGoopqGsUA0pvxDjNOghZW5K2YylHQek4BcEjhSJhnPtv9h+5rDwz6kPQFpca4QmbBh3XOVXtTvPGqQlQiFyguT0C2dzfTNjjAwHE1g7bygXY2Uo6eetFi4Q2+i70OdTdKp2I9lpVlpEnjD7nhDjsj46EQy6aWp24q/LVaeh7hL0STFzzC+nwxBGnySUrVgEI0=
    rooms:
      - secure: Gv0RJx1Sa/y5fmvLNwY+2ivfWZYCM0ekrr6UAHqsegnid6P/DFZrSrfSpwvcVh2OVNH8DHLV0BoiuDJ7amtl1eMDMXz5/lLz8tFWFKaHv4yDSadm8ILY/KnYUoP4IRuM3NyKQmBrmZB9Or5KFXboG6ex6UkgbuYy0Zyl6syEe168Iw8hlCRx26Jei7/y+8eE2MIGFh09TLRZ/944YbULum9H3KQLYv8nFdPc7GmR5AK461fnwZ7iYjb7MXkCctE5Vml3p9+2Qliv1ZJqNsQeKmSFW6IhiP6pNZ1V8VJEWMQmX/nBr9745l/N+CoLQz9ajLonlxn9xHdWms4TEu1ynFk6uxEJjlcpXcvcEaKhqAKcTMl0GMMRab2m+/Vt3S/VutJnVXQmnhZGT9glLFQHwcdHNqM/LEbXtyisB7zmGImUQpF2InCwO25IXug5gv64IfOHGMzL56yNIhbRgBY9Ud4Tux+pmkV5ZxJiBkul7/FiHQX7tQLUrzQosD0oyCOmaWD7kmbt15A0TOkLgup4HE+sSS1ASwisa7J2+HsbI3Upy3rNVKuIJP0L4KSTn4HSlDlMLLcWM+nz/YCEfuwSRXJTIstotNYHdsLUZAZSYAX7ejpeiuBRed4a4AlCROeKbKKwCcSvqCOjmCaPTpwJAGeJByOXLL2hfQzpDMKCIKM=
      - secure: hnpxdryHJEJk4S29yh0F2kRQEYN4uQp5Yk+mUTAm0sbdBLCP/v8l6982coWhqDOSR+FAtISoi23lgglbbHDZZTn/mjFx0tg5jrR1Gw17JnJkWEC7ffOnlbD498sTUZ+8nkYJooDsQVZbYN6ihjrPkbrEfaqLApLMqHqUkpdgx49E1huV7mgMM7BW7Y58OIp1rO/uTJOLWfrhh0ULa+X1EjVkUOUTpfwl/q7cuk0CtkpQZbmV2Dofg/6w+18jiDNZIdx1Mbf5hEy/nNzmrt8u1gcFvDxvtjLuzPckbkUGaq+jXXex83+mE72KT0BN6DKbzCoFEPIatJ7oDlZOLBwiChWEu4GBMKNmRH2M0lIwSs4pYni6K8nhFiMOjQlckmghnVB+izcpyZut8Bp91SureEL+lGWsv9zRn+CymaOM5ndiS0/MiFPXGUYak+6t4kYqADDqWMQC5auEn0VVDAsiy5Vzy+TCEpjwxtDfK3NuNEGoopqGsUA0pvxDjNOghZW5K2YylHQek4BcEjhSJhnPtv9h+5rDwz6kPQFpca4QmbBh3XOVXtTvPGqQlQiFyguT0C2dzfTNjjAwHE1g7bygXY2Uo6eetFi4Q2+i70OdTdKp2I9lpVlpEnjD7nhDjsj46EQy6aWp24q/LVaeh7hL0STFzzC+nwxBGnySUrVgEI0=
  email:
    - tom.kaitchuck@dell.com
    - andrei.paduroiu@dell.com
    - shivesh.ranjan@dell.com
    - sandeep.shridhar@dell.com
    - fpj@pravega.io
